.header {
    background-color: $primarioOscuro;

    .logo {
        margin: 1rem;
    }

    .logo__img {
        display: block;
        width: auto;
        margin: 0 auto;
    }
}

@include telefonomax {
    .header {
        padding: 1.5rem;

        .logo__img {
            width: 18rem;
        }
    }
}

