.producto {
    background-color: $primarioOscuro;
    padding: 2rem;
    border-style: solid;
    border-width: 0.3rem;
    border-radius: 2rem;
    border-color: $negro;

    &:hover {
        background-color: $secundario;
        animation: rebote 1.5s infinite;
    }

    &__nombre {
        font-size: 2.5rem;
        color: $blanco;
    }

    &__precio {
        font-size: 3rem;
        color: $negro;
    }

    &__nombre, &__precio {
        font-family: $fuente_principal;
        margin: 1rem 0;
        text-align: center;
        line-height: 1.2;
    }

    &__imagen {
        display: block;
        margin: 0 auto;
        border: 0.3rem solid $blanco;
        border-radius: 20rem;
    }
}

.grid {
    @include grid(2,2rem);

    @include tablet {
        grid-template-columns: repeat(4, 1fr);
    }
    
    @include desktop {
        grid-template-columns: repeat(5, 1fr);
    }
}

.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}

.producto {
    &_form {
        p {
            text-align: left;
            margin: 1rem 0;
        }
    }
    &_plataforma {
        font-family: $fuente_principal;
        font-size: 2.5rem;
    }
    &_precio {
        font-size: 2rem;
    }
    &_cantidad {
        width: 20rem;
        margin-right: 5rem;
        border: .2rem solid $gris;
        padding: .8rem;
    }
    @include telefonomax {
        .producto_form {
            margin: 0 auto;
        }
    }
}
.nota {
    font-size: 1.5rem;
    margin-top: 3rem;
}