table.tabla {
    margin: 2rem auto auto auto;
    width: auto;
    border-spacing: 0;
    text-align: center;
    font-size: 1.2rem;

    thead {
        background-color: $primarioOscuro;

        th {
            color: $blanco;
        }
    }

    .titulo {
        width: 5rem;
    }

    .imagen-tabla {
        width: 5rem;
    }
}

@include tablet {
    table.tabla {
        width: 80%;
        font-size: inherit;
        thead th {
            padding: 2rem;
        }
        .titulo {
            width: auto;
        }
        .imagen-tabla {
            width: 10rem;
        }
    }
}

.imagen-smoll {
    width: 20rem;
}